
/* Your CSS Code here. */
.holder{
width:200px;
height:200px;
background-color:lightblue;
display:grid;
grid-template-columns:repeat(2,100px);
grid-template-rows: repeat(2, 100px);	
border:solid black 1px;	
}
.box {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 2px solid black;
}




